body {
    background-color: black;
}

#section1 {
    width: 600px;
    height: 50px;
    margin-left: 400px;
    margin-top: 50px;
    padding-top: -2px;
    padding-bottom: 6px;
    background-color: darkblue;
    text-align: center;
    font-size: 20px;
    color: white;
    text-shadow: 3px 2px black;
    border-style: groove;
    border-color: gold;
    border-width: 25px;
}


#section2 {
    width: 625px;
    height: 250px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: darkblue;
    color: white;
    text-shadow: 3px 2px black;
    text-align: center;
    font-size: 25px;
    float: left;
    outline-color: black;
    border-style: groove;
    border-color: gold;
    border-width: 25px;
}

#section3 {
    width: 625px;
    height: 243px;
    margin-right: 20px;
    margin-top: 20px;
    padding-top: -2px;
    padding-bottom: 6px;
    background-color: darkblue;
    color: white;
    text-shadow: 3px 2px black;
    text-align: center;
    font-size: 45px;
    float: right;
    border-style: groove;
    border-color: gold;
    border-width: 25px;
}

#section4 {
    width: 600px;
    height: 150px;
    margin-top: 50px;
    margin-left: 400px;
    margin-top: 340px;
    padding-top: -2px;
    padding-bottom: 6px;
    background-color: darkblue;
    text-align: center;
    font-size: 20px;
    color: white;
    text-shadow: 3px 2px black;
    outline-color: black;
    border-style: groove;
    border-color: gold;
    border-width: 25px;
}


header {
    color: white;
    text-align: center;
    margin-top: -30px;
    font-size: 55px;
    text-shadow: 3px 2px royalblue;
}

img {
    margin-left: 525px;
    margin-top: -55px;

}

#headerTwo {
    color: white;
    text-align: center;
    margin-top: -77px;
    margin-left: 170px;
    font-size: 50px;
    
}
